.scores {
  height: auto;
}
.scores td,
.scores th {
  white-space: nowrap;
}
.scores th:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}
.ant-btn {
  width: 48%;
  border-radius: 0 !important;
}